---
interface Props {
	id: string;
	name: string;
	desc: string;
	price: string;
	features: string[];
}

const { id, name, desc, price, features } = Astro.props;
---

<div class="pricing-square">
	<h2>{name}</h2>
	<div class="pricing-square-description">
		<p>{desc}</p>
	</div>
	<h4 class="pricing-square-price">
		{price}<span>/month</span>
	</h4>
	<div class="btn-wrap">
		<a id={id} class="btn-blue btn-pricing gtm_button" href="/contact-us/?subject=Technical%20Support">
			Order
		</a>
	</div>
	{features.map((f) => <div class="pricing-square-item" set:html={f} />)}
</div>

<style lang="scss">
	.pricing-square {
		padding: 28px 24px;
		border: 1px solid rgba(42, 125, 236, 0.16);
		border-radius: 12px;
		box-shadow: 0 26px 40px 0 rgba(42, 125, 236, 0.08);
		background-color: #fff;
		height: 100%;

		h2 {
			font-size: 28px;
			font-weight: 500;
			line-height: 44px;
		}
	}

	.pricing-square-description {
		margin-bottom: 16px;

		p {
			font-size: 14px;
			line-height: 24px;
			color: #707275;
			margin: 0;
		}
	}

	.pricing-square-price {
		font-weight: 600;
		font-size: 32px;
		line-height: 60px;
		text-align: center;
		letter-spacing: -0.01em;
		margin-bottom: 16px;

		span {
			font-size: 18px;
			line-height: 34px;
			font-weight: 400;
		}
	}

	.btn-wrap {
		display: flex;
		justify-content: center;
		margin-bottom: 16px;
	}

	.btn-blue {
		display: inline-block;
		background-color: #2a7dec;
		color: #fff;
		padding: 8px 24px;
		text-align: center;
		font-size: 18px;
		font-weight: 500;
		border-radius: 4px;
		border: solid 2px #2a7dec;
		line-height: 28px;
		text-decoration: none;
		min-width: 200px;
		transition:
			background-color 0.15s,
			color 0.15s;

		&:hover {
			background-color: #fff;
			color: #2a7dec;
		}
	}

	.pricing-square-item {
		position: relative;
		font-size: 14px;
		line-height: 24px;
		padding-bottom: 12px;
		letter-spacing: 0.15px;
		margin-left: 32px;
		font-weight: 400;
		color: #3d3d3d;

		&::before {
			content: '';
			position: absolute;
			height: 18px;
			width: 18px;
			margin-left: -32px;
			margin-top: 3px;
			background: url('/images/pricing/pricing-checkmark-icon.svg') no-repeat;
		}
	}
</style>